td { /* The table for the messages display has text to aligned to bottom and padding */
    padding: 5px;
    vertical-align: bottom;
}

button { /* The "send" button for the message input form */
    border: none;
    border-radius: 5px;
    width: 75px;
    height: 30px;
    background-color: #5c6378;
    color: #fbf674; 
}

form { /* The message input form */
    margin: 20px 0 0 5px;
}

input { /* The input fields for the message input form */
    height: 30px;
    border-radius: 5px;
    margin: 0 5px 5px 0;
}

.message-input { /* The "message" input field in the form */
    width: 300px;
}
